{% extends 'catalogo/base.html' %}
{% block title %}{{ object.nome }}{% endblock %}
{% block content %}
<p><a href="{% url 'materiais:list' %}">Voltar para materiais</a></p>
<h1>{{ object.nome }}</h1>
<dl>
    <dt>Categoria</dt><dd>{{ object.categoria }}</dd>
    <dt>Quantidade</dt><dd>{{ object.quantidade }} {{ object.unidade }}</dd>
    <dt>Status</dt><dd>{{ object.get_status_display }}</dd>
    <dt>Fonte / origem</dt><dd>{{ object.fonte }}</dd>
</dl>
{% if can_manage %}<p><a class="button" href="{% url 'materiais:update' object.pk %}">Editar material</a></p>{% endif %}
{% endblock %}
