{% extends 'core/sheet.html' %}
{% block title %}Integrações{% endblock %}
{% block sheet_toolbar %}<a class="secondary-button" href="{% url 'integracoes:list' %}">Voltar às integrações</a>{% endblock %}
{% block sheet_content %}<h1>{% if integration %}Editar integrador{% else %}Novo integrador{% endif %}</h1><form method="post" class="sheet-form">{% csrf_token %}{% include 'core/form_fields.html' %}<div class="sheet-actions"><button type="submit">Salvar integrador</button><a class="secondary-button" href="{% url 'integracoes:list' %}">Voltar</a></div></form>{% endblock %}
